/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html {
  font-family: 'Helvetica Light', sans-serif;
}

body {
	margin:0;
	padding:0;
    background-color: #fff;
}
section.container1{
	width:100%;
	height:800px;
	background:url(../assets/bg1.jpg);
	background-size:cover;
	position: relative;

	.circleFold1{
		margin: 0 auto;
    	display: block;
	}

	.linesFold1{
		padding:30px;
		width:100%;
		height:100%;
		position: absolute;
		left:0;
		top:0;
		box-sizing:border-box;
		

		.mainLinesFold1{
			border:1px solid #fff;
			opacity:0.47;
			width:calc(100% - 30px);
			height:calc(100% - 30px);
			
		}


	}

	.gradient{
		background-image: linear-gradient(top, rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.00) 6%, rgba(255,255,255,0.99) 88%);
		height: 57%;
		width: 100%;
		position:absolute;
		bottom:0;
		left:0;
	}

	&:before{
		opacity: 0.45;
		background: rgba(0,0,0,0.70);
		position:absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
		content:'';
	}

}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
